<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Steve Hopkinson - Full-Stack Web Developer</title>
  <link rel="stylesheet" href="css/master.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Domine|Josefin+Sans:100,300,400,bold" rel="stylesheet">
  <script src="https://use.fontawesome.com/dab6567ebf.js"></script>
</head>

<body>

<header class="header">
  <h1 class="header--name">Steve Hopkinson</h1>
  <nav class="header--nav">
    <a class="header--icon" href="javascript:void(0)" aria-hidden="true"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <a class="header--link" href="#about">About</a>
    <a class="header--link" href="#experience">Experience</a>
    <a class="header--link" href="#contact">Contact</a>
  </nav>
</header>

<article class="content--container">


  {{{body}}}

<footer class="footer">
  <p class="footer--text">&copy; 2017 Steve Hopkinson. All rights reserved.</p>
</footer>

</article>

<script type="text/javascript">
  var nav = document.querySelector('.header--nav'),
  content = document.querySelector('.content--container');

  nav.onclick = function () {
    if (nav.className === "header--nav") {
      nav.className = "header--nav open";
    } else {
      nav.className = "header--nav";
    }
  }

  content.onclick = function () {
    if (nav.className === "header--nav open")
    nav.className = "header--nav";
  }
</script>

</body>
</html>
