<section class="section intro">
  <h2 class="intro--text">Hire a developer who understands your users</h2>
  <a class="intro--link" href="#contact">Contact</a>
  <div class="intro--background"></div>
</section>

<section class="section about" id="about">
  <h2 class="section--header">About</h2>
  <p class="section--text">With six years' experience working in digital content for some of Britain's most recognisable institutions, Steve is a full-stack web developer who understands your website's content.</p>
  <p class="section--text">He puts your website's users first - both your customers and the people within your organisation who depend on it for their daily work.</p>
</section>

<section class="section experience" id="experience">
  <h2 class="section--header">Experience</h2>
  <p class="section--text">Steve has worked across the public, private and charity sectors, in roles ranging from technical consultancy to product management.</p>
  <div class="experience--logos">
    <img alt="IBM logo" class="experience--logo" src="images/ibm-logo.png">
    <img alt="Natural History Museum logo" class="experience--logo" src="images/nhm-logo.png">
    <img alt="Art Fund logo" class="experience--logo" src="images/art-fund-logo.png">
    <img alt="National Gallery logo" class="experience--logo" src="images/ng-logo.png">
  </div>
  <!--
  Add back in when the portfolio section is built.
  <a class="section--link" href='/portfolio'>See portfolio</a>
-->
</section>

<section class="section contact" id="contact">
<h2 class="section--header">Contact</h2>
<a class="contact--email" href="mailto:steve@stevehopkinson.co.uk">
  <i class="fa fa-envelope" aria-hidden="true"></i>steve@stevehopkinson.co.uk
</a>
<a href="http://www.twitter.com/steve_hopkinson" target='_blank' class='section--link'><i class="fa fa-twitter large-icon" aria-hidden="true"></i></a>
<a href="https://uk.linkedin.com/in/stephen-hopkinson-6684a025" target="_blank" class="section--link"><i class="fa fa-linkedin large-icon" aria-hidden="true"></i></a>
<a href="https://github.com/stevehopkinson" target="_blank" class="section--link"><i class="fa fa-github large-icon" aria-hidden="true"></i></a>
</section>
